---
import Layout from "../layouts/InnerLayout.astro";
---

<Layout>
  <div class="flex flex-col items-center text-center bg-cream my-12">
    <h1 class="text-6xl font-bold text-burgundy mb-4">Page not yet found!</h1>
    <p class="text-xl text-gray-700 mb-6">
        🌱 Oops! The page you're looking for is still growing! Please stay tuned.
    </p>
    <a href="/" class="text-tan font-medium hover:underline">
      Go back to the homepage
    </a>
  </div>
</Layout>