<footer class="border-t bg-brown text-cream">
  <div class="container p-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <p class="text-md m-3">
        © {new Date().getFullYear()} Beanpot Studio
      </p>
    </div>
  </div>
</footer>
